<!-- Create table to display user data -->
<!-- Display username, bio, location -->

<main>
    <div class="container">
        <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Bio</th>
                <th>Location</th>
            </tr>
        </thead>
            <tr>
                <td><%=username%></td>
                <td><%=user_bio%></td>
                <td><%=user_city%></td>
            </tr>
        </table>
        <button type="button" href="/Project/pages/"
    </div>
</main>