<%- include ('../partials/header') %>

<header class="p-3" style="background-color: #deb887;">
  <div class="container">
      <h1 style="font: Rockwell;">
          Climbing Buddy
      </h1>
  </div>
 </header>

 
<main>
  <body>
    <div class="col mb-3">
      <div class = "col-xs-6">
        <h2><center>Create A New Account</center></h2>
      </div>
    </div>
    
    <%# Include a spot for the error to appear if there is a problem with registration%>
    <% if (locals.message) { %>
      <div
        class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
        role="alert"
      >
        <%= message %>
      </div>
      <% } %>

    <div class="container">
      <form action="/register" method="post">
        <%# the form for the registration%>
        <div class="form-group row mb-3">
            <label for="inputUser" class="col-sm-1 col-form-label">Username</label>
            <div class="col">
              <input class="form-control" id="inputUser" name="username" placeholder="Username" required>
            </div>
          </div>
        <div class="form-group row mb-3">
            <label for="inputPassword" class="col-sm-1 col-form-label">Password</label>
            <div class="col">
              <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
            </div>
          </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
    </form>
    </div>
  </body>
</main>

<%- include ('../partials/footer') %>
