<main>
    <div class="container">
      <form action="/register" method="POST">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username"></input>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password"></input>
          <button type="submit">Submit</button>
      </form>
    </div>
</main>